/* colour palette: http://paletton.com/#uid=62x1m0kd5emh-qXgokNcf9acf5r */
:root {
    /* green and yellow */
    /*
    --body-background-colour: #364229;
    --backlayer-background-colour: #719649;
    */
    /*--backlayer-background-colour: rgba(150,150,150,0.5);*/
    --backlayer-background-colour: white;
    --warning-colour: #b80000;
    --hover-colour: #b80000;
    --active-colour: #ff0505;
    --element-colour: white;
}

h1.title {
    font-size: 3em;
    margin-top: 5px;
    margin-bottom: 5px;
    
    /*make it so text in the button cannot be selected*/
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    cursor: default;
    user-select: none;
}

span.highlight {
    color: #b80000;
}

body {
    /*background-color: lightblue;*/
    background-attachment: fixed;
    /*background-color: white;*/
    text-align: center;
    font-family: verdana;
    font-size: 16px;
    overflow: hidden;
}

.backlayer {
    position: fixed;
    z-index: -100;
    background-color: var(--backlayer-background-colour);
    min-height: 100vh;
    width: 60vw;
    margin: 0 auto;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    border-left: solid 1px #b80000;
    border-right: solid 1px #b80000;
}

.inputwrap input, textarea {
    text-align: center;
    font-family: verdana;
    font-size: 16px;
    width: 60%;
}

.inputwrap #templatebox {
    width: 50%;
    padding: 0px;
}

.inputwrap #error {
    color: var(--warning-colour);
    word-wrap: break-word;
    margin: 0 auto;
    width: 50vw;
}

.main_area {
    width: 60vw;
    border-top: thin solid #000000;
    padding-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: thin solid #000000;
}

.history, .config, .ref {
    width: 60vw;
    margin: 0 auto;
    height: auto;
}

.history .history_header, .config .config-header, .ref .ref-header {
    display: inline-block;
    background-color: var(--element-colour);
    
    margin-left: auto;
    margin-right: auto;
    
    border-bottom: thin solid #000000;
  
    display: none;     
    justify-content: center;
    align-items: center;
    
    width: 60vw;
    height: 63.56px;
    font-size: 16px;
    font-weight: bold;

    /*make it so text in the button cannot be selected*/
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    cursor: default;
    user-select: none;
}

.ref .ref-header {
    display: flex
}

.history .history_list, .config .config-container, .ref .ref-container {
    border-top: thin dotted #000000 0px;
    border-bottom: thin solid #000000;
    display: none;
    word-wrap: break-word;
    padding-top: 3px;
    padding-bottom: 3px;
    
    max-height: 44vh;/*300px;/*1250px;*/
    width: inherit;
    overflow-x: hidden;
}

.ref .ref-container {
    display: block;
    width: inherit;
}

.ref .ref-container .ref-content {
    padding-left: 10px;
    width: 58vw;
    float: left;
    word-wrap: break-word;
    /*word-break: break-all;*/
    hyphens: auto;
    text-align: left;
}

.history_list .history_record {
    margin: 0 auto;
    width: 98.5%;
    display: inline-block;
    font-size: 12px;
    /*border-bottom: thin dashed;*/
}

.history_record .log_label {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    float: left;
    width: 89%;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    /*make it so text in the button cannot be selected*/
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    cursor: default;
    user-select: none;
}

.history_record .log_label:hover {
    font-style: italic;
    cursor: pointer;
}

.history_record .log_export {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: right;
    float: right;
    width: 9%;
    white-space: nowrap;
}

.history_record p {
    border: thin dotted #000000;
    padding: 10px;
    background-color: white;
    text-align: left;
    max-height: 200px;
    max-width: 98%;
    margin: 0px;
    
    overflow: auto;
    white-space: pre-line;
    font-family: consolas;
    display: none;
}

.history_list:empty:before {
    content: "Nothing here...";
    color: darkgrey;
    text-align: center;
}

#custom_button {
    margin: 0 auto;
    width: 100px;
    padding: 5px;

    text-align: center;
    border: thin solid #000000;

    /*make it so text in the button cannot be selected*/
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    cursor: default;
    user-select: none;
    background-color: var(--element-colour);
}

.toolbar {
    height: 60px;
    border-bottom: thin solid;
}

.toolbar-button {
    width: 60px;
    height: inherit;
    border-right: thin solid;
    
    display: inline-flex;     
    justify-content: center;
    align-items: center;
    
    float: left;
    
    /*make it so text in the button cannot be selected*/
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    cursor: pointer;
    user-select: none;
}

#docs {
    float: right;
    border-right: initial;
    border-left: thin solid;
}
/* ------------------------------------- */
/* main doc page css */
/* ------------------------------------- */

.content_backlayer {
    position: fixed;
    z-index: -99;
    min-height: 80%;
    width: 60vw;
    
    margin: 0 auto; /*center*/
    left: 0;
    right: 0;
    bottom: 0;
    
}
.doc {
    /*width: 44.68%%;*/
    /*border-top: thin solid #000000;*/
    font-family: verdana;
}

.content .accordion_icon {
    text-align: center;
    float: right;
    display: inline;
    width: 30px;
}

.content h4 {
    text-align: center !important;
    display: inline;
    padding-left: 30px;
}

.doc div *{
    text-align: justify;
    margin: 0 auto;
    width: 60em; 
    /*padding-left: 800px;*/
    /*padding-right: 800px;*/ /*this solution doesn't scale very well*/
}

.content, .doc .intro  {
    padding-top: 8px;
    /*
    border-right: thin solid #000000;
    border-left: thin solid #000000;
    */
    border-bottom: thin solid #000000;

    text-align: center;
    margin: 0 auto;
    width: 60vw;
    min-height: 29px;
    background-color: var(--element-colour);
}

.content .content_body {
    display: none;
    position: relative;
    
    background-color: white !important;
    color: black !important;
    
    z-index: 100;
    
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:11px;
    
    word-wrap: break-word;
    width: 60vw;
    
    border-top: thin solid #000000;
    border-bottom: thin solid #000000;
}

.content .content_body p {
  width: 95%;
}

a {
    color: var(--active-colour);
}

h1, h3, h4 {
    letter-spacing: 0.75px;
}

.content_body p, .content_body li, .content h4, .history_header h4, .history_record p {
    color: unset;
    letter-spacing: unset;
    
}
/* ------------------------------------- */
/* general page element css */
/* ------------------------------------- */

#custom_button:hover, .toolbar-button:hover, .content:hover {
    background-color: var(--hover-colour) !important;
    color: white !important;
}

#custom_button:active, .toolbar-button:active, .content:active {
    background-color: var(--active-colour) !important;
    color: black !important;
}

.content h4, .accordion_icon {
    pointer-events: none;
}

/*tooltip source: https://www.w3schools.com/css/css_tooltip.asp*/

.tooltip {
  position: absolute;
  width: inherit;
  height: inherit;
  /*background-color: #fdd;
  border-color: #900;
  opacity: 0.7;*/
}

.tooltip .tooltiptext, .tooltip .tooltiptextleft {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: 13px;
    left: 105%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptextleft{
    top: 13px;
    left: -255%;
}
.tooltip:hover .tooltiptext, .tooltip:hover .tooltiptextleft {
    visibility: visible;
}

.tooltip .tooltiptext::after, .tooltip .tooltiptextleft::after {
    content: " ";
    position: absolute;
    top: 35%;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip .tooltiptextleft::after {
    top: 35%;
    left: 103%;
    border-color: transparent transparent transparent black ;
}

#notification-area {
    position:fixed;
    /*border: thin solid #000000;*/
    padding-left:13px;
    padding-right:13px;
    top:23px;
    right: 1%;
    width: 16vw;
    height: 95%; 
}

.notification {
    /*position:fixed;*/
    z-index:105;
    color:white;
    background-color:var(--active-colour);
    border: thin solid #000000;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:13px;
    padding-right:13px;
    
    margin-left: 5px;
    margin-top: 7px;
    
    min-width: 12vw;
    max-width: 13vw;
    cursor: pointer;
    box-shadow: 5px 4px 2px silver;
    word-wrap: break-word;
    display: block;
}